.user__info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    &__label{
        font-weight: bold;
        font-size: 20px;
    }
    &__select {
        position: relative;
        cursor: pointer;
        border: 2px solid black;
        border-radius: 4px;
        color: rgb(0, 119, 255);
        font-size: 16px;
    }
    &__select__option {
        
    }
}
