.block {
    width: 300px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    & .icon {
        width: auto;
        height: 30px;
    }
    & .line {
        width: 100%;
    }
}